@import '~bootstrap/scss/bootstrap';
// Définition des variables pour les espacements
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

// Définition des variables pour les points de rupture média
$screen-s: 576px;
$screen-m: 768px;
$screen-l: 992px;

// Définition des directives Sass pour .flex-content
.flex-content {
  display: flex;
  align-content: flex-start;

  &--direction {
    &-row {
      flex-direction: row;
    }

    &-column {
      flex-direction: column;
    }
  }

  &--align {
    &-start {
      align-items: flex-start;
    }

    &-end {
      align-items: flex-end;
    }

    &-center {
      align-items: center;
    }

    &-initial {
      align-items: initial;
    }
  }

  &--justify {
    &-start {
      justify-content: flex-start;
    }

    &-end {
      justify-content: flex-end;
    }

    &-center {
      justify-content: center;
    }

    &-space-around {
      justify-content: space-around;
    }

    &-space-between {
      justify-content: space-between;
    }

    &-space-evenly {
      justify-content: space-evenly;
    }
  }

  &--spacing {
    &-xsmall {
      gap: $spacing-xs;
    }

    &-small {
      gap: $spacing-sm;
    }

    &-medium {
      gap: $spacing-md;
    }

    &-large {
      gap: $spacing-lg;
    }

    &-large-plus {
      gap: calc(#{$spacing-md} * 2);
    }

    &-xlarge {
      gap: $spacing-xl;
    }
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--mobile-direction {
    @media screen and (min-width: $screen-s), screen and (min-width: $screen-m), screen and (min-width: $screen-l) {
      &-row {
        flex-direction: row !important;
      }

      &-column {
        flex-direction: column !important;
      }

      &-column-reverse {
        flex-direction: column-reverse !important;
      }
    }
  }



  &--layout {
    &-columns {
      > * {
        &:first-child:nth-last-child(2),
        &:first-child:nth-last-child(2) ~ * {
          flex: 0 2 50%;
        }

        &:first-child:nth-last-child(3),
        &:first-child:nth-last-child(3) ~ * {
          flex: 0 2 33%;
        }

        &:first-child:nth-last-child(4),
        &:first-child:nth-last-child(4) ~ * {
          flex: 0 2 25%;
        }

        &:first-child:nth-last-child(5),
        &:first-child:nth-last-child(5) ~ * {
          flex: 0 2 20%;
        }
      }
    }

    &-two-columns-wide-left {
      > * {
        &:first-child:nth-last-child(2) {
          flex: 0 2 65%;
        }

        &:first-child:nth-last-child(2) ~ * {
          flex: 0 2 35%;
        }
      }
    }

    &-two-columns-wide-right {
      > * {
        &:first-child:nth-last-child(2) {
          flex: 0 2 35%;
        }

        &:first-child:nth-last-child(2) ~ * {
          flex: 0 2 65%;
        }
      }
    }
  }
}

/* Ajoutez ces styles à votre fichier CSS */
// Assurez-vous que le conteneur principal (.main-container) utilise flexbox pour aligner son contenu verticalement
.content {
  flex: 1; /* Le contenu prendra toute la hauteur disponible */
  display: flex; /* Utiliser un affichage flexible */
  flex-direction: column; /* Aligner le contenu verticalement */
  justify-content: center; /* Centrer le contenu horizontalement */
  align-items: center; /* Centrer le contenu verticalement */
  text-align: center; /* Centrer le texte horizontalement */
}

// Assurez-vous que le contenu principal (.content) utilise flexbox pour prendre toute la hauteur disponible
.content div {
  margin-top: 20px; /* Ajoute un espace entre le h3 et la div */
}



// // Définition des couleurs pour le thème sombre
// :root {
//   --foreground-rgb: 0, 0, 0;
//   --background-start-rgb: 214, 219, 220;
//   --background-end-rgb: 255, 255, 255;
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --foreground-rgb: 255, 255, 255;
//     --background-start-rgb: 0, 0, 0;
//     --background-end-rgb: 0, 0, 0;
//   }
// }

// // Application des couleurs au corps de la page
// body {
//   color: rgb(var(--foreground-rgb));
//   background: linear-gradient(
//       to bottom,
//       transparent,
//       rgb(var(--background-end-rgb))
//     )
//     rgb(var(--background-start-rgb));
// }



// Avatar

.avatar {
  width: 40px;
  border-radius: 50%;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

// Button

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

// Navbar

/* navbar.css */

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  //
  padding: 10px 20px; /* Ajouter un peu de marge intérieure */
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-toggler {
  border: none;
  background: none;
  outline: none;
}

.navbar-toggler-icon {
  background-color: #333;
  width: 24px;
  height: 2px;
  display: block;
  position: relative;
  border-radius: 1px;
}

.navbar-toggler-icon:before,
.navbar-toggler-icon:after {
  content: '';
  background-color: #333;
  width: 24px;
  height: 2px;
  display: block;
  position: absolute;
  border-radius: 1px;
}

.navbar-toggler-icon:before {
  top: -8px;
}

.navbar-toggler-icon:after {
  bottom: -8px;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav .nav-item {
  margin-left: 20px;
}

.navbar-nav .nav-item:first-child {
  margin-left: 0;
}

.dropdown-menu {
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-item {
  color: #333;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
  color: #333;
}

// box
/* Style de base de la boîte */
/* Style de la boîte */
.box {
  overflow: hidden;
  height: auto;
  max-width: 600px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 16px;
}

/* Style de l'avatar */
.box img.avatar {
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

/* Style des informations de la boîte */
.box .box-infos {
  padding-left: 16px;
}

/* Style du titre */
.box h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

/* Style du paragraphe */
.box p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

/* Style du bouton de like */
.box button {
  border: none; /* Supprimer la bordure */
  background: none; /* Supprimer l'arrière-plan */
  cursor: pointer;
  padding: 0;
}

/* Style de l'icône de cœur */
.box button svg {
  fill: #FF69B4; /* Définir la couleur de remplissage du cœur en rose */
  width: 20px; /* Ajuster la taille de l'icône de cœur si nécessaire */
  height: 20px;
}

/* Style de l'icône de cœur au survol */
.box button:hover svg {
  fill: #FF1493; /* Modifier la couleur de remplissage du cœur au survol */
}



// banner
.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);
  background-size: cover; /* Redimensionne l'image de fond pour qu'elle couvre toute la zone */
  background-position: center center; /* Centre l'image de fond horizontalement et verticalement */
  width: 100%; /* La largeur de la bannière sera égale à 100% de la largeur de son conteneur */
  height: 80vh; /* La hauteur de la bannière sera égale à 80% de la hauteur de la vue */
  display: flex; /* Utilise un affichage flexible pour centrer le contenu */
  align-items: center; /* Centre le contenu verticalement */
  justify-content: center; /* Centre le contenu horizontalement */
  text-align: center; /* Centre le texte horizontalement */
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

// Notifications

.notification {
  overflow: hidden;
  max-width: 600px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 16px; /* Ajout d'une marge en bas pour l'espacement entre les notifications */
}

.notification img.avatar-large {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.notification .notification-content {
  padding-left: 16px; /* Ajoute une marge à gauche pour créer un espace entre le texte et l'avatar */
}

.notification p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin: 0;
}

.notification small {
  color: #999999;
  font-weight: bold;
}

.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}

// footer

// global.scss

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: black;
  font-size: 0.6rem;
}

.footer-content {
  color: black;
  text-align: center;
}

.footer-content p {
  margin: 0;
}

.footer-content p:first-child {
  margin-bottom: 10px;
}
